<!-- ------------ PARTICLES-BACKGROUND ------------ -->

<particles [style]="atomS.myStyle" [width]="atomS.width" [height]="atomS.height" [params]="atomS.myParams"></particles>

<!-- ------------ /PARTICLES-BACKGROUND ------------ -->

<!-- ------------- MAIN-MENU ------------ -->

<div class="container h-100">

    <!-- ------------ TOP-ICONS ------------ -->


    <!-- ------------ ICON-BACK-MENU ------------ -->

    <!-- <button type="button" (click)="atomS.regresarMenu()" *ngIf="!atomS.mostrarIconos"
            class="btn btn-outline-light ctm-btn-rad btn-back text-white comfortaa-b text-center mt-5 ml-auto mr-auto">
            <i class="mr-2 fas fa-angle-left"></i>
            <a *ngIf="atomS.contact">CONTACTO</a>
            <a *ngIf="atomS.portafolio">PORTAFOLIO</a>
            <a *ngIf="atomS.servicios">SERVICIOS</a>
        </button> -->

    <!-- ------------ /ICON-BACK-MENU ------------ -->

    <!-- ------------ ICON-1-2 ------------ -->
    <div class="row mt-5">


        <div [ngClass]="{'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}"
            class="col-sm-6 col-md-6 col-lg-6" *ngIf="atomS.mostrarIconos" (click)="atomS.ocultarIconos()">
            <button class="ctm-btn-rad btn btn-outline-dark d-block m-auto" (click)="atomS.navegar('ideas')">
                <img src="../../assets/img/icons/idea.png" class="w-100">
            </button>
        </div>

        <div [ngClass]="{'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}"
            class="col-sm-6 col-md-6 col-lg-6" *ngIf="atomS.mostrarIconos" (click)="atomS.ocultarIconos()">
            <button class="ctm-btn-rad btn btn-outline-dark d-block m-auto" (click)="atomS.navegar('portafolio')">
                <img src="../../assets/img/icons/tactil.png" class="w-100">
            </button>

        </div>


        <!-- ------------ /ICON-1-2 ------------ -->


        <!-- ------------ /TOP-ICONS ------------ -->

        <!-- ------------ SERVICES ------------ -->

        <div class="col-12">
            <app-servicios *ngIf="atomS.servicios"></app-servicios>
        </div>

        <!-- ------------ /SERVICES ------------ -->

        <!-- ------------ COL-IZQ ------------ -->


        <div class="col-6 col-sm-6 col-md-4 col-lg-4 order-last align-self-center mt-5">

            <!-- ------------ CONTACT ------------ -->

            <app-contact *ngIf="atomS.contact" class="d-lg-none"></app-contact>

            <!-- ------------ /CONTACT ------------ -->

            <!-- ------------ ICON-3 ------------ -->

            <button *ngIf="atomS.mostrarIconos"
                [ngClass]="{'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}"
                (click)="atomS.navegar('contact')"
                class="animated ctm-btn-rad btn btn-outline-dark m-auto d-block ctm-btn-icon">
                <img src="../../assets/img/icons/apoyar.png" class="w-100">
            </button>

            <!-- ------------ /ICON-3 ------------ -->

        </div>

        <!-- ------------ /COL-IZQ ------------ -->

        <!-- ------------ ÁTOMO ------------ -->

        <div class="col-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 m-auto align-self-center position-absolute atom-absolute">
            <app-atom></app-atom>
        </div>

        <!-- ------------ /ÁTOMO ------------ -->



        <!-- ------------ COL-RIGHT ------------ -->


        <div class="col-6 col-sm-6 col-md-4 col-lg-4 align-self-center text-right mt-5">

            <!-- ------------ CONTACT-INFO ------------ -->

            <app-contact-info *ngIf="atomS.contact" class="d-lg-none"></app-contact-info>

            <!-- ------------ /CONTACT-INFO ------------ -->

            <!-- ------------ SERVICES ------------ -->

            <!-- <app-servicios *ngIf="atomS.servicios-right"></app-servicios> -->

            <!-- ------------ /SERVICES ------------ -->

            <!-- ------------ ICON-4 ------------ -->

            <button *ngIf="atomS.mostrarIconos"
                [ngClass]="{ 'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}"
                (click)="atomS.navegar('servicios') "
                class="animated ctm-btn-rad btn btn-outline-dark m-auto d-block ctm-btn-icon">
                <img src="../../assets/img/icons/controlar.png " class="w-100">
            </button>

            <!-- ------------ /ICON-4 ------------ -->

        </div>
    </div>
</div>

<!-- ------------ /COL-RIGHT ------------ -->

<!-- ------------ CONTACT SMALL ------------ -->

<!-- ------------ CONTACT ------------ -->

<app-contact *ngIf="atomS.contact" class="d-sm-block"></app-contact>

<!-- ------------ /CONTACT ------------ -->

<!-- ------------ CONTACT-INFO ------------ -->

<app-contact-info *ngIf="atomS.contact" class="d-sm-block"></app-contact-info>

<!-- ------------ /CONTACT-INFO ------------ -->

<!-- ------------ /CONTACT SMALL ------------ -->

<!-- ------------ PORTAFOLIO ------------ -->

<app-portafolio *ngIf="atomS.portafolio"></app-portafolio>

<!-- ------------ /PORTAFOLIO ------------ -->

<!-- ------------ COPYRIGHT ------------ -->

<p class="comfortaa-l text-center text-white m-auto w-100 ctm-copy">Copyright © 2018 Krusty Lab - Software Development
</p>

<!-- ------------ /COPYRIGHT ------------ -->

<!-- ------------ MUTED-BUTTON ------------ -->

<button class="btn btn-outline-light ctm-btn-sound ctm-btn-rad" (click)="atomS.muted()">
    <i *ngIf="!atomS.backgrounMuted" class="fas fa-volume-up"></i>
    <i *ngIf="atomS.backgrounMuted" class="fas fa-volume-mute"></i>
</button>

<!-- ------------ /MUTED-BUTTON ------------ -->



<!-- ------------ /MAIN-MENU ------------ -->

<!-- ------------ AUDIO ------------ -->

<audio controls class="d-none" id="backgroundSound">
    <source src="../../assets/sounds/background-sound.mp3" type="audio/mpeg">
</audio>

<audio controls class="d-none" id="soundElect">
    <source src="../../assets/sounds/logo-sound.mp3" type="audio/mpeg">
</audio>

<!-- ------------ /AUDIO ------------ -->