/* ANIMACIONES */

svg.atom {
    max-height: 100vh;
    max-width: 100vw;
    overflow: visible;
}

svg circle.kern {
    fill: #47cdd6;
    stroke: none;
    filter: drop-shadow(0px 0px 4px #1a7379) !important;
}

.atom path {
    fill: none;
    stroke: #fff;
    stroke-width: .06;
}

path.tail {
    stroke: #47cdd6 !important;
    fill: none;
    animation: atom 1.6s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: 20, 44.5;
    stroke-width: .6 !important;
}

path.electron {
    stroke: #47cdd6 !important;
    fill: none;
    animation: atom 1.6s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: .1, 64.4;
    stroke-width: 2.5 !important;
    stroke-linecap: round;
}

path.tail1,
path.electron1 {
    animation-delay: -1.0s;
}

path.tail2,
path.electron2 {
    animation-delay: -1.4s;
}

@keyframes atom {
    to {
        stroke-dashoffset: 129;
    }
}


/* ------HOVER------ */

.ctm-hover:hover {
    cursor: pointer;
    -webkit-animation-name: shake;
    animation-name: shake;
}

.ctm-hover:hover .tail,
.ctm-hover:hover .electron {
    animation: atom 1.0s infinite linear;
}


/* ------ACELERADO------ */

.aceleradoTail {
    animation: atom 0.3s infinite linear;
    stroke: #f9fc38 !important;
    fill: none;
    stroke-dashoffset: 0;
    stroke-dasharray: 20, 44.5;
    stroke-width: .6 !important;
}

.aceleradoElectron {
    stroke: #f9fc38 !important;
    fill: none;
    animation: atom 0.3s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: .1, 64.4;
    stroke-width: 2.5 !important;
    stroke-linecap: round;
}

.nucleo {
    fill: rgb(233, 196, 30);
    stroke: none;
    filter: drop-shadow(0px 0px 4px #fcb738);
}

.btn-svg {
    all: unset !important;
    width: 100% !important;
}

.text-logo {
    margin-top: -8%;
    font-size: 38px;
}


/*------------------------------------------BREAKPOINTS----------------------------------------------*/


/* BREAKPOINTS MOVIL*/

@media screen and (min-width: 250px) and (max-width: 599px) {
    .text-logo {
        margin-top: -8%;
        font-size: 13px;
    }
    .sm-atom {
        width: 150px;
    }
}


/* FIN MOVIL BREAKPOINTS*/


/* BREAKPOINTS MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 760px) {}


/* FIN BREAKPOINTS MOVIL HORIZONTAL*/


/* BREAKPOINTS TABLET VERTICAL*/

@media screen and (min-width: 761px) and (max-width: 999px) {}


/* FIN BREAKPOINTS TABLET VERTICAL*/


/* BREAKPOINTS TABLET HORIZONTAL*/

@media screen and (min-width: 1000px) and (max-width: 1250px) {}


/* FIN BREAKPOINTS TABLET HORIZONTAL*/
