<form>
    <div class="form-group">
        <label for="exampleInputEmail1" class="bmd-label-floating text-white">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
        <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleSelect1" class="bmd-label-floating">Example select</label>
        <select class="form-control" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
    </div>
    <button class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
</form>