<div class="container">

    <div class="align-top">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" class="comfortaa-r bmd-label-floating text-white">Correo Electrónico</label>
                <input type="email" class="smoke comfortaa-l form-control" id="exampleInputEmail1">
            </div>

            <div class="form-group">
                <label for="exampleSelect1" class="comfortaa-r bmd-label-floating text-white">Asunto</label>
                <select class="smoke form-control" id="exampleSelect1">
                <option>Cotización</option>
                <option>Queja</option>
                <option>Sugerencias</option>
                <option>Otros..</option>
            </select>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1" class="comfortaa-r bmd-label-floating text-white">Mensaje</label>
                <textarea rows="5" class="smoke form-control"></textarea>
            </div>

            <button type="submit" class="btn-block btn btn-primary btn-raised">ENVIAR MENSAJE</button>
        </form>
    </div>
</div>