/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Comfortaa-Bold;
    src: url(../src/assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(../src/assets/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../src/assets/fonts/Comfortaa-Regular.ttf);
}

.comfortaa-b {
    font-family: Comfortaa-Bold;
}

.comfortaa-l {
    font-family: Comfortaa-Light;
}

.comfortaa-r {
    font-family: Comfortaa-Regular;
}

.smoke {
    color: rgb(146, 146, 146) !important;
    background-color: rgb(124, 124, 124);
}

body {
    background: #0c1825 !important;
    height: 100vh !important;
}

.icon-social {
    font-size: 30px;
}

.icon-contact {
    font-size: 20px;
}


/*------------------------------------------BREAKPOINTS----------------------------------------------*/


/* BREAKPOINTS MOVIL*/

@media screen and (min-width: 250px) and (max-width: 599px) {}


/* FIN MOVIL BREAKPOINTS*/


/* BREAKPOINTS MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 760px) {}


/* FIN BREAKPOINTS MOVIL HORIZONTAL*/


/* BREAKPOINTS TABLET VERTICAL*/

@media screen and (min-width: 761px) and (max-width: 999px) {}


/* FIN BREAKPOINTS TABLET VERTICAL*/


/* BREAKPOINTS TABLET HORIZONTAL*/

@media screen and (min-width: 1000px) and (max-width: 1250px) {}


/* FIN BREAKPOINTS TABLET HORIZONTAL*/