<div class="w-100 h-100 bg-transparent text-white text-justify">
    <h4 class="comfortaa-b card-title text-center">Información de Contácto</h4>
    <hr class="smoke">
    <div class="mb-5">
        <p class="comfortaa-r card-text">Somos una empresa desarrolladora de software comprometida con potenciar el alcance de tu proyecto.</p>
        <p class="text-center icon-contact comfortaa-r card-text">
            <i class="fab fa-whatsapp mr-2"></i> +52 993 334 4562
        </p>
        <p class="text-center icon-contact comfortaa-r card-text">
            <i class="far fa-envelope mr-2"></i> krusty-lab@krusty.lab
        </p>
        <div class="text-center mt-2">
            <a href="#" class="btn btn-primary"><i class="icon-social fab fa-facebook-square"></i></a>
            <a href="#" class="btn btn-primary"><i class="icon-social fab fa-google-plus-square"></i></a>
            <a href="#" class="btn btn-primary"><i class="icon-social fab fa-twitter"></i></a>
        </div>

    </div>

</div>