<div class="container-fluid py-5 text-white animated fadeIn">

    <div class="row">

        <div class="col-12 middle">

            <!-- ---------- ATOMO ---------- -->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 m-auto">
                            <app-atomo></app-atomo>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ---------- ICONOS ---------- -->
            <div class="row pt-md-5 pt-0 mt-md-5 mt-0">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 pt-md-0 pt-4">

                    <div class="scale m-auto text-center">
                        <i class="material-icons icons pointer" (click)="navegar('contacto')">
                            contact_mail
                        </i>
                        <div>
                            <small>Cóntacto</small>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 pt-md-0 pt-4">

                    <div class="scale m-auto text-center">

                        <i class="material-icons icons pointer" (click)="navegar('productos')">
                            store_mall_directory
                        </i>
                        <div>
                            <small>Productos</small>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 pt-md-0 pt-4">

                    <div class="scale m-auto text-center">
                        <i class="material-icons icons pointer" (click)="navegar('servicios')">
                            headset_mic
                        </i>
                        <div>
                            <small>Servicios</small>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 pt-md-0 pt-4">

                    <div class="scale m-auto text-center">

                        <i class="material-icons icons pointer" (click)="navegar('portafolio')">
                            work
                        </i>
                        <div>
                            <small>Portafolio</small>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</div>