<div class="row" id="accordion">
    <div class="col-4 mt-5" id="headingOne">

        <button (click)="show('sitios')" class="p-3 btn btn-dark text-white w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h6 class="font-weight-bold">Sitios Web</h6>  
        </button>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

            <button (click)="show('appWeb')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Aplicaciones Web</p>
            </button>

            <button (click)="show('lanPage')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Landing Page</p>
            </button>

        </div>

        <button (click)="show('app')" class="p-3 btn btn-dark text-white w-100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h6 class="font-weight-bold">Aplicaciones Móviles</h6>
        </button>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

            <button (click)="show('appMovilH')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Aplicaciones Móviles Híbridas</p>
            </button>

            <button (click)="show('appMovilN')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Aplicaciones Móviles Nativas</p>
            </button>

        </div>

        <button (click)="show('db')" class="p-3 btn btn-dark text-white w-100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h6 class="font-weight-bold">Bases de Datos</h6>
        </button>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

            <button (click)="show('dbTR')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Bases de Datos en Tiempo Real</p>
            </button>

            <button (click)="show('dbSQL')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Bases de Datos SQL</p>
            </button>

            <button (click)="show('dbNoSQL')" class="btn btn-outline-dark text-white w-100" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                <p>Bases de Datos no SQL</p>
              </button>

        </div>

    </div>

    <div class="col-4"></div>

    <div class="col-4">


        <div *ngIf="sitios" class="animated fadeIn card" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> SITIOS WEB </h5>
                <hr>
                <p class="text-justify">
                    Un sitio web, portal o cibersitio es una colección de páginas web relacionadas y comunes a un dominio de internet o subdominio en la World Wide Web dentro de Internet.1​2​ Todos los sitios web públicamente accesibles constituyen una gigantesca World Wide
                    Web de información; y un gigantesco entramado de recursos de alcance mundial. A las páginas de un sitio web se accede frecuentemente a través de un URL raíz común llamado portada, que normalmente reside en el mismo servidor físico.
                    Los URL organizan las páginas en una jerarquía, aunque los hiperenlaces entre ellas controlan más particularmente cómo el lector percibe la estructura general y cómo el tráfico web fluye entre las diferentes partes de los sitios.
                </p>
            </div>
        </div>

        <div *ngIf="appWeb" class="animated fadeIn card" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> APLICACIONES WEB </h5>
                <hr>
                <p class="text-justify">
                    En la ingeniería de software se denomina aplicación web a aquellas herramientas que los usuarios pueden utilizar accediendo a un servidor web a través de internet o de una intranet mediante un navegador. En otras palabras, es un programa que se codifica
                    en un lenguaje interpretable por los navegadores web en la que se confía la ejecución al navegador. Las aplicaciones web son populares debido a lo práctico del navegador web como cliente ligero, a la independencia del sistema operativo,
                    así como a la facilidad para actualizar y mantener aplicaciones web sin distribuir e instalar software a miles de usuarios potenciales. Existen aplicaciones como los correos web, wikis, blogs, tiendas en línea y la propia Wikipedia
                    que son ejemplos bastante conocidos de aplicaciones web.
                </p>
            </div>
        </div>

        <div *ngIf="lanPage" class="animated fadeIn card" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> LANDING PAGE </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>


        <div *ngIf="app" class="animated fadeIn card" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> APLICACIONES MÓVILES </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div *ngIf="appMovilH" class="animated fadeIn card" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> APLICACIÓN MÓVIL HÍBIRDA </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div *ngIf="appMovilN" class="animated fadeIn card" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> APLICACIÓN MÓVIL NATIVA </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>


        <div *ngIf="db" class="animated fadeIn card" i aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> BASES DE DATOS </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div *ngIf="dbTR" class="animated fadeIn card" i aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> BASES DE DATOS EN TIEMPO REAL </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div *ngIf="dbSQL" class="animated fadeIn card" i aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> BASES DE DATOS SQL </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div *ngIf="dbNoSQL" class="animated fadeIn card" i aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-white">
                <h5 class="text-center mb-3"> BASES DE DATOS NO SQL </h5>
                <hr>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
</div>