/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Comfortaa-Bold;
    src: url(../src/assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(../src/assets/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../src/assets/fonts/Comfortaa-Regular.ttf);
}

.comfortaa-b {
    font-family: Comfortaa-Bold;
}

.comfortaa-l {
    font-family: Comfortaa-Light;
}

.comfortaa-r {
    font-family: Comfortaa-Regular;
}

// <!-- FUENTES GOOGLE Y MATERIAL ICONS -->
@import '~material-design-icons/iconfont/material-icons.css';

// FORMULARIOS BOOTSTRAP
.form-control {
    // background-image: linear-gradient( 0deg, #a01f41 2px, rgba(255, 255, 255, 0) 0);
    background-image: linear-gradient(0deg, #4458a0 2px, rgba(213, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0) !important;
}

body {
    // background-color: #03050a;
    background-color: #0c1825;
}

.bg-dark-transparent {
    background-color: rgba(27, 27, 27, 0.623);
}

.atom-prod {
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 1;
}

.ctm-btn {
    text-transform: initial !important;
}

.bg-atom-red {
    background-color: #993636;
}

.bg-atom-blue {
    background-color: #4458a0;
}

.pointer {
    cursor: pointer;
}

.middle {
    position: absolute;
    top: 25%;
}