.row-atomo {
    height: 100%;
}

.contenedor-atomo {
    height: 100%;
}

.contenedor-atomo {
    height: 100%;
    margin: auto;
}

.ctm-copy {
    bottom: 0;
    position: fixed;
}


/* ------------Imagenes------------ */

.ctm-img {
    width: 100px;
    -webkit-transition: width 0.8s;
    /* Safari */
    transition: width 0.8s;
}

.ctm-btn-sound {
    bottom: 0;
    position: fixed;
    font-size: 23px;
}

button .ctm-img:hover {
    cursor: pointer;
    width: 115px;
}

.div-icons {
    /* height: 8rem; */
}
