<!-- ------------ PARTICLES-BACKGROUND ------------ -->

<particles [style]="atomS.myStyle" [width]="atomS.width" [height]="atomS.height" [params]="atomS.myParams"></particles>

<!-- ------------ /PARTICLES-BACKGROUND ------------ -->

<!-- ------------- MAIN-MENU ------------ -->

<div class="container contenedor-atomo">
    <div class="row h-75 pt-5 justify-content-md-center">

        <!-- ------------ ICON-1-2 ------------ -->

        <div class="div-icons d-flex w-100 h-25">
            <button type="button" (click)="atomS.regresarMenu()" *ngIf="!atomS.mostrarIconos" class="btn btn-outline-light ctm-btn-none btn-back text-white comfortaa-b text-center m-auto">
                <i class="mr-2 fas fa-angle-left"></i>
                <a *ngIf="atomS.contact">CONTACTO</a>
                <a *ngIf="atomS.portafolio">PORTAFOLIO</a>
                <a *ngIf="atomS.proyectos">PROYECTOS</a>
            </button>

            <div [ngClass]="{'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}" class="animated d-flex w-100" *ngIf="atomS.mostrarIconos" (click)="atomS.ocultarIconos()">
                <div class="col-6 text-right">
                    <button class="ctm-btn-none btn btn-outline-dark m-auto d-block" (click)="atomS.navegar('proyectos')">
                        <img src="../../assets/img/icons/idea.png" class="ctm-img">
                    </button>
                </div>

                <div class="col-6 text-left">
                    <button class="ctm-btn-none btn btn-outline-dark m-auto d-block" (click)="atomS.navegar('portafolio')">
                        <img src="../../assets/img/icons/tactil.png" class="ctm-img">
                    </button>
                </div>
            </div>
        </div>

        <!-- ------------ /ICON-1-2 ------------ -->

        <!-- ------------ COL-IZQ ------------ -->

        <div class="col-4 align-self-center">

            <!-- ------------ CONTACT ------------ -->

            <app-contact *ngIf="atomS.contact"></app-contact>

            <!-- ------------ CONTACT ------------ -->

            <!-- ------------ ICON-3 ------------ -->

            <button *ngIf="atomS.mostrarIconos" [ngClass]="{'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}" (click)="atomS.navegar('contact')" class="animated ctm-btn-none btn btn-outline-dark m-auto d-block">
                <img src="../../assets/img/icons/apoyar.png" class="ctm-img">
            </button>

            <!-- ------------ ICON-3 ------------ -->

        </div>

        <div class="col-4 m-auto align-self-center">

            <!-- ------------ÁTOMO------------ -->
            <app-atom></app-atom>
            <!-- ------------/ÁTOMO------------ -->

        </div>

        <!-- ------------ COL-RIGHT ------------ -->

        <div class="col-4 align-self-center">

            <!-- ------------ CONTACT-INFO ------------ -->

            <app-contact-info *ngIf="atomS.contact"></app-contact-info>

            <!-- ------------ /CONTACT-INFO ------------ -->

            <!-- ------------ ICON-4 ------------ -->

            <button [ngClass]="{ 'bounceOut': atomS.animationIconos, 'bounceIn': atomS.animationIconosIn}" *ngIf="atomS.mostrarIconos" (click)="atomS.ocultarIconos() " class="animated ctm-btn-none btn btn-outline-dark m-auto d-block">
                <img src="../../assets/img/icons/controlar.png " class="ctm-img">
            </button>

            <!-- ------------ /ICON-4 ------------ -->

        </div>

        <!-- ------------ /COL-RIGHT ------------ -->

    </div>
</div>

<app-portafolio *ngIf="atomS.portafolio"></app-portafolio>

<!-- ------------ /MAIN-MENU ------------ -->

<!-- ------------ COPYRIGHT ------------ -->

<p class="comfortaa-l text-center text-white m-auto w-100 ctm-copy ctm-img">Copyright © 2018 Krusty Lab - Software Development</p>

<!-- ------------ /COPYRIGHT ------------ -->

<!-- ------------ MUTED-BUTTON ------------ -->

<button class="btn btn-outline-light ctm-btn-sound ctm-btn-none" (click)="atomS.muted()">
        <i *ngIf="!atomS.backgrounMuted" class="fas fa-volume-up"></i>
        <i *ngIf="atomS.backgrounMuted" class="fas fa-volume-mute"></i>
</button>

<!-- ------------ /MUTED-BUTTON ------------ -->

<!-- ------------ AUDIO ------------ -->

<audio controls class="d-none" id="backgroundSound">
    <source src="../../assets/sounds/background-sound.mp3" type="audio/mpeg">
</audio>

<audio controls class="d-none" id="soundElect">
    <source src="../../assets/sounds/logo-sound.mp3" type="audio/mpeg">
</audio>

<!-- ------------ /AUDIO ------------ -->