.row-atomo {
    height: 100%;
}

.contenedor-atomo {
    height: 100%;
}

.contenedor-atomo {
    height: 100%;
    margin: auto;
}

.ctm-copy {
    bottom: 0;
    position: fixed;
}


/* ------------Imagenes------------ */

.ctm-img {
    width: 100%;
}

.ctm-btn-sound {
    bottom: 0;
    position: fixed;
    font-size: 23px;
}

.btn-outline-dark {
    width: 130px;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

.btn-outline-dark:hover {
    width: 145px !important;
}
