/* --------------- BUTTONS --------------- */


/* ------ Custom Button Radius ------ */

.ctm-btn-rad {
    border-width: 0px !important;
    border-radius: 20px !important;
}


/* ------ Volume Icon ------ */

.ctm-btn-sound {
    bottom: 0;
    position: fixed;
    font-size: 23px;
}


/* ------ Main Icons ------ */

.btn-outline-dark {
    width: 130px;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

.btn-outline-dark:hover {
    width: 145px !important;
}


/* ------ Back Icon ------ */

.btn-back {
    font-size: 33px !important;
}


/* --------------- TEXT --------------- */


/* ------ Copy-right ------ */

.ctm-copy {
    bottom: 0;
    position: fixed;
}

.order-last {
    order: unset !important;
}

.atom-absolute {
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 1000;
}

.d-lg-none {
    display: block !important;
}

.d-sm-block {
    display: none !important;
}


/*------------------------------------------BREAKPOINTS----------------------------------------------*/


/* BREAKPOINTS MOVIL*/

@media screen and (min-width: 250px) and (max-width: 599px) {
    /* ------ Volume Icon ------ */
    .ctm-btn-sound {
        font-size: 13px;
    }
    /* ------ Main Icons ------ */
    .btn-outline-dark {
        width: 80px;
        /* position: fixed; */
    }
    .btn-outline-dark:hover {
        width: 90px !important;
    }
    /* ------ Back Icon ------ */
    .btn-back {
        font-size: 23px !important;
    }
    .order-last {
        order: 13 !important;
    }
    .ctm-btn-icon {
        margin-top: 2.5rem !important;
    }
    .ctm-copy {
        font-size: 11px !important;
    }
    .mt-sm {
        margin-top: 10rem !important;
    }
    .atom-absolute {
        top: 30% !important;
    }
    .d-lg-none {
        display: none !important;
    }
    .d-sm-block {
        display: block !important;
    }
    .h-100 {
        height: 60% !important;
    }
}


/* FIN MOVIL BREAKPOINTS*/


/* BREAKPOINTS MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 760px) {}


/* FIN BREAKPOINTS MOVIL HORIZONTAL*/


/* BREAKPOINTS TABLET VERTICAL*/

@media screen and (min-width: 761px) and (max-width: 999px) {}


/* FIN BREAKPOINTS TABLET VERTICAL*/


/* BREAKPOINTS TABLET HORIZONTAL*/

@media screen and (min-width: 1000px) and (max-width: 1250px) {}


/* FIN BREAKPOINTS TABLET HORIZONTAL*/
